@using DataJuggler.UltimateHelper
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.Components.Enumerations
@using DataJuggler.Blazor.Components.Objects
@using BlazorStyled


<Styled @bind-Classname=@CalendarStyle>    
    height: @HeightStyle;
    width: @WidthStyle;    
    position: @CalendarPosition;
    top: @CalendarTopStyle;
    left: @CalendarLeftStyle;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    display: @Display;
    background-color: white;
    z-index: @ZIndexPlus1;
</Styled>
<Styled @bind-Classname=@ContainerStyle>     
    text-align: left;
    height: @ControlHeightStyle;
    min-height: @ControlHeightStyle;
    max-height: @ControlHeightStyle;
    width: @ControlWidthStyle;
    min-width: @ControlWidthStyle;
    max-width: @ControlHeightStyle;
    position: @Position;
    top: @TopStyle;
    left: @LeftStyle;
    display: flex;
    justify-content: left;    
    gap: 0px;
    transform: scale(@ScaleValue);
    transform-origin: top left;
    z-index: @ZIndex;
</Styled>
<Styled @bind-Classname=@ButtonStyle>
    display: inline;        
    text-align: left;    
    background-size: 100% 100%;
    z-index: @ZIndex;
    height: 25.6px;    
</Styled>
<Styled @bind-Classname=@NavButtonStyle>
    display: inline;
    justify-content: left;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    background-size: 100% 100%;
    z-index: @ZIndex;
    height: 16px;
    background-color: transparent;
    display: block;
    margin: auto;
</Styled>
<Styled @bind-Classname=@ColumnStyle>    
    font-size: 10px;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;    
    position: relative;
    top: -2px;
    left: 4px;
    margin-left: 2px;
    margin-right: 2px;
</Styled>
<Styled @bind-Classname=@HeaderRowColumnStyle>
    font-size: 10px;    
    display: inline;
    width: 40px;
    text-align: center;
    height: 16px;
    position: relative;
    top: -2.4px;
    left: 2px;
</Styled>
<Styled @bind-Classname=@RowStyle>        
    width: @WidthStyle;
    height: @RowHeightStyle;
    line-height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
</Styled>
<Styled @bind-Classname=@BottomRowStyle>
    width: 100%;
    height: @RowHeightStyle;
    line-height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 1px;
    font-size: 11px;    
</Styled>
<Styled @bind-Classname=@DayRowStyle>
    background-color: @DayRowColorName;
    color: @DayRowTextColorName;
    width: @WidthStyle;    
    height: @DayRowHeightStyle;
    z-index: @ZIndex;
</Styled>
<Styled @bind-Classname=@DayButtonStyle>    
    border: 0px;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;        
    color: black;
    height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1px;
    cursor: pointer;
</Styled>
<Styled @bind-Classname=@DayButtonStyle2>   
    border: 0px;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;    
    color: gray;
    height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1px;
    cursor: pointer;
</Styled>
<Styled @bind-Classname=@DayButtonStyle3>
    border: 0px;    
    font-size: 10px;
    font-weight: bold;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;
    color: white;
    background-color: @SelectedColorName;
    height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1px;
    object-fit: cover;
    cursor: pointer;
</Styled>
<Styled @bind-Classname=@YearSelectorButtonStyle>
    border: 0px;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    display: inline;
    text-align: center;
    height: 100%;
    color: black;
    height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 1px;
    cursor: pointer;
</Styled>
<Styled @bind-Classname=@YearSelectorStyle>
    display: @YearSelectorDisplay;
    border-width: 1px;    
    background-color: white;
    font-size: 10px;
    height: 64px;
    width: 48px;
    position: relative;
    cursor: pointer;
    z-index: @ZIndexPlus1;
    text-align: center;
</Styled>
<Styled @bind-Classname=@DividerStyle>
    height: 1px;
    width: 100%;
    background-color: black;
</Styled>
<Styled @bind-Classname=@YearButtonStyle>    
    width: 36px;
    min-width: 36px;
    max-width: 36px;
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    border-width: 1px;
    font-size: 10px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    color: @YearButtonTextColorName;
    background-color: white;
</Styled>
<Styled @bind-Classname=@YearButtonSelectedStyle>
    width: 36px;
    min-width: 36px;
    max-width: 36px;
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    border-width: 1px;
    font-size: 10px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    color: @YearButtonTextColorSelectedName;
    background-color: @SelectedColorName;
</Styled>
<Styled @bind-Classname=@YearSelectorContainerStyle>
    box-sizing: border-box;
    width: 182px;
    min-width: 182px;
    max-width: 182px;
    height: 68px;
    min-height: 68px;
    max-height: 68px;
    z-index: @ZIndexPlus1;
    display: flex;
    flex-wrap: wrap;
    line-height: 16px;   
    background-color: white;
    position: relative;
    left: @YearSelectorLeftStyle;
    top: @YearSelectorTopStyle;
</Styled>
<Styled @bind-Classname=@NavButtonCellStyle>
    text-align: center;
    vertical-align: middle;
</Styled>

<div class="@ContainerStyle @ClassName">
    <table>
        <tr class="textdonotwrap">
            <td width="@TextBoxWidth">
            <TextBoxComponent Name="DisplayTextBox" Caption="@Caption" Parent="this" 
                ClassName="displayinline" Column1Width="@Column1Width" FontSize="@TextBoxFontSize"
                Column2Width="@Column2Width" TextBoxWidth="@TextBoxWidth" 
                LabelFontSize="@LabelFontSize" LabelFontName="@LabelFontName"
                TextBoxFontSize="@TextBoxFontSize" TextBoxFontName="@TextBoxFontName"
                Width="@Width" Height="@TextBoxHeight" LabelClassName="@LabelClassName" 
                ZIndex="@ZIndex" Left="@TextBoxLeft">
            </TextBoxComponent>
            </td>
            <td width="@ButtonWidth">
                <ImageButton ClassName="@ButtonStyle" ButtonNumber="1" HeightUnit="px" Height="@ButtonHeight" 
                    Unit="px" Width="@ButtonWidth"  Name="CalendarButton" Position="relative" ZIndex="@ZIndex"
                    Left="@ButtonLeft" Top=@ButtonTop  ImageUrl="@ButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                </ImageButton>
            </td>
        </tr>
    </table>
    <div class="@CalendarStyle">
        <div class="@DayRowStyle">
            <table>
                <tr>
                    <td width="1"></td>
                    <td width="40">
                        <span class="@HeaderRowColumnStyle"><span class="left2">Sun</span></span>
                    </td>
                    <td width="40">
                        <span class="@HeaderRowColumnStyle"><span class="left4">Mon</span></span>
                    </td>
                    <td width="40">
                        <span class="@HeaderRowColumnStyle"><span class="left2">Tue</span></span>
                    </td>
                    <td width="40">
                        <span class="@HeaderRowColumnStyle"><span class="left4">Wed</span></span>
                    </td>
                    <td width="40">
                        <span class="@HeaderRowColumnStyle"><span class="left4">Thu</span></span>
                    </td>
                    <td width="40">
                        <span class="@HeaderRowColumnStyle"><span class="left2">Fri</span></span>
                    </td>
                    <td width="40">
                        <span class="@HeaderRowColumnStyle"><span class="right1">Sat</span></span>
                    </td>
                </tr>
            </table>
        </div>
        @if (ListHelper.HasOneOrMoreItems(Dates))
        {  
            @if (ListHelper.HasOneOrMoreItems(Weeks))
            {  
                @foreach (CalendarRow week in Weeks)
                {
                    <div class="@RowStyle">
                        @if (week.HasDays)
                        {
                            foreach (DayObject dayObject in week.Days)
                            {
                                if (dayObject.Today)
                                {
                                    <button @onclick="() => DateSelected(dayObject)" class="@DayButtonStyle3 cursorpointer">@dayObject.ToString()</button>
                                }
                                else if (dayObject.ThisMonth)
                                {
                                    <button @onclick="() => DateSelected(dayObject)" class="@DayButtonStyle cursorpointer">@dayObject.ToString()</button>
                                }
                                else
                                {
                                    <button @onclick="() => DateSelected(dayObject)" class="@DayButtonStyle2 cursorpointer">@dayObject.ToString()</button>
                                }
                            }
                        }
                    </div>
                }                
            }
            <div class="@BottomRowStyle">
                <table class="up4 right14">
                    <tr>
                        <td width="32">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="2" HeightUnit="px" Height="8"
                                    Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move back one year."
                                    Left="0" Top=0 ImageUrl="@PrevYearButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>
                        <td width="32">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="3" HeightUnit="px" Height="8"
                                    Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move back one month."
                                    Left="0" Top=0 ImageUrl="@PrevMonthButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>                        
                        <td class="textdonotwrap" width="80">
                            @if (AllowYearSelector)
                            {
                                <button @onclick="ToggleYearSelector" class="@YearSelectorButtonStyle cursorpointer textaligncenter left8">@DateTitle</button>
                            }
                            else
                            {
                                <Label FontSize=11 LabelColor="Black" ClassName="textaligncenter colorblack width80 textdonotwrap fontbold"
                                       Width="64" Height="12" Text="@DateTitle" Position="relative" Top="2" Left="-8"></Label>
                            }
                        </td>
                        <td width="34">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="4" HeightUnit="px" Height="8"
                                Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move forward one month."
                                Left="0" Top=0 ImageUrl="@NextMonthButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>
                        <td width="34">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="5" HeightUnit="px" Height="8"
                                Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move forward one year."
                                Left="0" Top=0 ImageUrl="@NextYearButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>
                    </tr>
                </table>
            </div>
        }
        @if (YearSelectorVisible)
        {
            <div class="@YearSelectorContainerStyle border1">
                @foreach (Decade decade in Decade.CreateDecades())
                {
                    @if ((HasSelectedDecade) && (SelectedDecade.StartYear == decade.StartYear))
                    {
                        <button class="@YearButtonSelectedStyle border0" @onclick="() => SelectDecade(decade)">@decade.Name</button>
                    }
                    else
                    {
                        <button class="@YearButtonStyle border0" @onclick="() => SelectDecade(decade)">@decade.Name</button>
                    }
                }
                @if (!HasSelectedDecade)
                {
                    // Select this Decade
                    SelectedDecade = ThisDecade;

                    // Select this Decade
                    SelectDecade(ThisDecade);
                }
                <div class="@DividerStyle"></div>
                @if ((HasSelectedDecade) && (SelectedDecade.HasYears))
                {
                    @foreach (int year in SelectedDecade.Years)
                    {
                        <button class="@YearButtonStyle border0" @onclick="() => SelectYear(year)">@year.ToString()</button>
                    }
                }
            </div>
        }
    </div>    
</div>

