@using DataJuggler.UltimateHelper
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.Components.Enumerations
@using BlazorStyled


<Styled @bind-Classname=@CalendarStyle>    
    height: @HeightStyle;
    width: @WidthStyle;
    z-index: 20;
    position: relative;
    top: @CalendarTopStyle;
    left: @CalendarLeftStyle;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    display: @Display;
    color: white;
</Styled>
<Styled @bind-Classname=@ContainerStyle>     
    text-align: left;
    height: @ControlHeightStyle;
    min-height: @ControlHeightStyle;
    max-height: @ControlHeightStyle;
    width: @ControlWidthStyle;
    min-width: @ControlWidthStyle;
    max-width: @ControlHeightStyle;
    position: @Position;
    top: @TopStyle;
    left: @LeftStyle;
    display: flex;
    justify-content: left;    
    gap: 0px;
</Styled>
<Styled @bind-Classname=@ButtonStyle>
    display: inline;        
    text-align: left;    
    background-size: 100% 100%;
    z-index: 30;
    height: 25.6px;    
</Styled>
<Styled @bind-Classname=@NavButtonStyle>
    display: inline;
    justify-content: left;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    background-size: 100% 100%;
    z-index: 30;
    height: 16px;
    background-color: transparent;
</Styled>
<Styled @bind-Classname=@ColumnStyle>    
    font-size: 10px;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;    
    position: relative;
    top: -2.4px;
    margin-left: 2px;
    margin-right: 2px;
</Styled>
<Styled @bind-Classname=@RowStyle>        
    width: @WidthStyle;
    height: @RowHeightStyle;
    line-height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
</Styled>
<Styled @bind-Classname=@BottomRowStyle>
    width: 100%;
    height: @RowHeightStyle;
    line-height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    font-size: 10px;
</Styled>
<Styled @bind-Classname=@DayRowStyle>
    background-color: @DayRowColorName;
    color: @DayRowTextColorName;
    width: @WidthStyle;    
    height: @DayRowHeightStyle;
</Styled>
<Styled @bind-Classname=@DayButtonStyle>    
    border: 0px;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;        
    color: black;
    height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1px;
</Styled>
<Styled @bind-Classname=@DayButtonStyle2>   
    border: 0px;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;    
    color: gray;
    height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1px;
</Styled>
<Styled @bind-Classname=@DayButtonStyle3>
    border: 0px;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    width: @ColumnWidth2Style;
    min-width: @ColumnWidth2Style;
    max-width: @ColumnWidth2Style;
    display: inline;
    text-align: center;
    height: 100%;
    color: white;
    background-color: firebrick;
    height: @RowHeightStyle;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1px;
    object-fit: cover;
</Styled>

<div class="@ContainerStyle @ClassName">
    <table>
        <tr class="textdonotwrap">
            <td width="@TextBoxWidth">
            <ValidationComponent Name="DisplayTextBox" Caption="@Caption" Parent="this" ClassName="displayinline"
                Column1Width="@Column1Width" Column2Width="@Column2Width" TextBoxWidth="@TextBoxWidth" 
                Width="@Width" LabelClassName="@LabelClassName">
            </ValidationComponent>
            </td>
            <td width="@ButtonWidth">
                <ImageButton ClassName="@ButtonStyle" ButtonNumber="1" HeightUnit="px" Height="@ButtonHeight" 
                    Unit="px" Width="@ButtonWidth"  Name="CalendarButton" Position="relative" 
                    Left="@ButtonLeft" Top=@ButtonTop  ImageUrl="@ButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                </ImageButton>
            </td>
        </tr>
    </table>
    <div class="@CalendarStyle">
        <div class="@DayRowStyle">
            <div class="@ColumnStyle"><span class="right4">Sun</span></div>
            <div class="@ColumnStyle"><span class="right9">Mon</span></div>
            <div class="@ColumnStyle"><span class="right14">Tue</span></div>
            <div class="@ColumnStyle"><span class="right19">Wed</span></div>
            <div class="@ColumnStyle"><span class="right24">Thu</span></div>
            <div class="@ColumnStyle"><span class="right33">Fri</span></div>
            <div class="@ColumnStyle"><span class="right42">Sat</span></div>
        </div>
        @if (ListHelper.HasOneOrMoreItems(Dates))
        {
            <div class="@RowStyle">
                @foreach (DayObject dayObject in Dates)
                {
                    @if (dayObject.Today)
                    {
                        <button @onclick="() => DateSelected(dayObject)" class="@DayButtonStyle3">@dayObject.ToString()</button>
                    }
                    else if (dayObject.ThisMonth)
                    {
                        <button @onclick="() => DateSelected(dayObject)" class="@DayButtonStyle">@dayObject.ToString()</button>
                    }
                    else
                    {
                        <button @onclick="() => DateSelected(dayObject)" class="@DayButtonStyle2">@dayObject.ToString()</button>
                    }
                }
            </div>
            <div class="@BottomRowStyle">
                <table class="up6 right14">
                    <tr>
                        <td width="48">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="2" HeightUnit="px" Height="8"
                                         Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move back one year."
                                         Left="0" Top=0 ImageUrl="@PrevYearButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>
                        <td width="48">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="3" HeightUnit="px" Height="8"
                                         Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move back one month."
                                         Left="0" Top=0 ImageUrl="@PrevMonthButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>
                        <td class="down8 left16" width="64">
                            <Label FontSize=10 LabelColor="Black" ClassName="textaligncenter colorblack width64 textdonotwrap fontbold"
                                   Width="64" Height="12" Text="@DateTitle" Position="relative" Top="-4"></Label>
                        </td>
                        <td width="48">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="4" HeightUnit="px" Height="8"
                                         Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move forward one month."
                                         Left="0" Top=0 ImageUrl="@NextMonthButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>
                        <td width="47">
                            <ImageButton ClassName="@NavButtonStyle" ButtonNumber="5" HeightUnit="px" Height="8"
                                         Unit="px" Width="8" Name="PrevYearButton" Position="relative" Title="Move forward one year."
                                         Left="0" Top=0 ImageUrl="@NextYearButtonUrl" Parent="this" ClickHandler="@ButtonClicked">
                            </ImageButton>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>

