@using BlazorStyled

<Styled @bind-Classname=@CheckedlistboxStyle>
    background-color: @ListBackgroundColor.Name;
    display: @DisplayStyle;    
    font-size: @FontSizeStyle;
    height: @HeightStyle;
    min-height: @HeightStyle;
    max-height: @HeightStyle;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1px;
    position: @Position;
    left: @LeftStyle;
    Top: @TopStyle;
    width: @WidthStyle;
    min-width: @WidthStyle;
    max-width: @WidthStyle;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    z-index: @ZIndex;
    visibility: @Visibility;
</Styled>
<Styled @bind-Classname=@ListitemStyle>
    background-color: @ListItemBackgroundColor.Name;
    color: @ListItemTextColorName;
    font-family: Calibri;
    font-size: @FontSizeStyle;
    gap: @ListItemMarginBottomStyle;
    height: @ListItemHeightStyle;
    left: @ListItemLeftStyle;
    line-height:@ListItemHeightStyle;
    margin-bottom: 0;
    max-height: @ListItemHeightStyle;
    padding-bottom: 0;
    padding-top: 0;
    position: @listItemPosition;
    text-align: left;
    top: @ListItemTopStyle;
    width: @ListItemWidthStyle;
    min-width: @ListItemWidthStyle;
    max-width: @ListItemWidthStyle;
    z-index: @ZIndex;
    object-fit: fill;
    clear: both;
</Styled>

<div class="@CheckedlistboxStyle">
    @if (HasItems)
    {
        @foreach (Item item in Items)
        {
            <div class="@ListitemStyle">
                <CheckBoxComponent Parent="this" Name="@item.Id.ToString()"
                    Unit="@Unit" HeightUnit="@HeightUnit"
                    Column1Width="@LabelWidth" Column2Width="@Width" CheckBoxValue="@item.ItemChecked"
                    CheckBoxX="@CheckBoxX"
                    CheckBoxTextX="@CheckBoxTextX" CheckBoxTextY="@CheckBoxTextY"
                    Height="@CheckBoxHeight" Width="@CheckBoxWidth" ControlHeight="@ListItemHeight"
                    ClassName="@ListItemClassName" Text="@item.Text" ExternalId="@item.Id"
                    BackgroundColor="@ListItemBackgroundColor">
                </CheckBoxComponent>
            </div>
        }
    }
</div>