@using DataJuggler.Blazor.Components
@using BlazorStyled

<Styled @bind-Classname="CheckedListBoxStyle">
    background-color: @ListBackgroundColor;
    display: @DisplayStyle;
    font-size: @TextSizeStyle;
    height: @HeightStyle;
    justify-content: left;
    min-width: @WidthStyle;    
    left: @LeftStyle;
    Top: @TopStyle;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: @Position;
    width: @WidthStyle;
</Styled>
<Styled @bind-Classname="ListItemStyle">
    background-color: @ListBackgroundColorName;
    color: @ListItemTextColorName;
    font-family: Verdana;
    font-size: @TextSizeStyle;        
    height: @ListItemHeightStyle;    
    left: @ListItemLeftStyle;    
    margin-bottom: 0;
    margin-top: 0;    
    max-height: @ListItemHeightStyle;
    padding-bottom: 0;
    padding-top: 0;
    position: @listItemPosition;    
    text-align: left;
    top: @ListItemTopStyle;
    width: @ListItemWidthStyle;
    z-index: @ZIndex;
</Styled>

<div class="@CheckedListBoxStyle">
    @if (HasItems)
    {
        <div class="row @ListItemStyle">            
            @foreach (Item item in Items)
            {
                <ValidationComponent CheckBoxMode=true Parent="this" Name="@item.Name" Unit="@Unit"
                    Column1Width="@Width" Column2Width="@Width" CheckBoxValue = "@item.ItemChecked"
                    HeightUnit="@HeightUnit" CheckBoxXPosition="@CheckBoxXPosition" Width="@Width"
                    Height="@ListItemHeight" CheckBoxYPosition="@CheckBoxYPosition" Top="@ListItemTop"                    
                    Text="@item.Text" ExternalId="@item.Id" BackgroundColor="@ListItemBackgroundColor.Name">
                </ValidationComponent>
            }
        </div>
    }
</div>