@using DataJuggler.UltimateHelper
@using BlazorStyled
@using DataJuggler.Blazor.Components.Enumerations

<Styled @bind-Classname="Grid">
    display: block;
    height: 16px;
    justify-content: left;
    min-width: @WidthStyle;
    width: @WidthStyle;
    font-size: @TextSizeStyle;
    position: @Position;
    left: @LeftStyle;        
</Styled>
<Styled @bind-Classname="LabelStyle">
    display: inline-block;
    font-size: @TextSizeStyle;
    text-align: right;
    background-color: @LabelBackColor;
    margin-right: @LabelMarginRightStyle !important;
    color: @LabelColorName;    
    white-space: nowrap;
    width: @LabelWidthStyle;
    float: left;
    z-index: @ZIndexMinusStyle;
</Styled>
<Styled @bind-Classname="ComboBoxStyle">    
    display: inline-block;
    height: @HeightStyle;
    width: @WidthStyle    
    font-size: @TextSizeStyle;    
    justify-content: left;
    text-align: center;   
    float: left;    
    z-index: @ZIndex;
    background-color: @ComboBoxBackColor;
</Styled>
<Styled @bind-Classname="ListItemStyle">    
    font-family: Verdana;
    text-align: left;
    background-color: @ListBackgroundColorName;
    width: @ListItemWidthStyle;
    position: relative;
    color: @ListItemTextColorName;
    left: @ListItemLeftStyle;
    top: @ListItemTopStyle;
    font-size: @TextSizeStyle;
    z-index: @ZIndex;    
</Styled>
<Styled @bind-Classname="NoPadding">    
    margin: 0;
    padding: 0;
</Styled>
<Styled @bind-Classname="ButtonStyle">
    display: inline-block;
    justify-content: left;    
    text-align: center;
    width: 100%;
    position: relative;    
    left: 0px;
    top: 0px;
</Styled>

 
<div class="@Grid">    
    @if (ShowLabel)
    {
        <div class="@LabelStyle"><span class="@LabelClassName">@LabelText</span></div>
    }
    <div class="@ComboBoxStyle">
        <div class="@ButtonStyle">
            <ImageButton ButtonNumber="1" ButtonText="@ButtonText" Height="4" Unit="@Unit" Width="@Width"
                    Name="ComboBoxButton" TextSize="@TextSize" Position="relative" Left="@ButtonLeft" Top=@ButtonTop
                    ZIndex="ZIndexPlus"
                    ButtonTextAlign="@TextAlign" TextColor="@ButtonTextColor" ImageUrl="@ButtonUrl" Parent="this">
            </ImageButton>
        </div>
        @if ((Expanded) && (ListHelper.HasOneOrMoreItems(Items)))
        {
        <div class="@ListItemStyle">
            <select class="form-control" name="ListBox" size="@VisibleCount" id="ComboBoxListBox" @onchange="SelectionChanged">
                    @foreach (Item item in Items)
                    {
                        <option class="@NoPadding">@item.Text</option>
                    }
            </select>
        </div>
        }
    </div>    
</div>
