@using DataJuggler.UltimateHelper
@using BlazorStyled
@using DataJuggler.Blazor.Components.Enumerations

<Styled @bind-Classname="Grid">
    display: @DisplayStyle;    
    height: @HeightStyle;
    min-width: @WidthStyle;
    width: @WidthStyle;
    font-size: @TextSizeStyle;
    position: @Position;
    left: @LeftStyle;
    top: @TopStyle;
    z-index: @ZIndex;   
</Styled>
<Styled @bind-Classname="LabelStyle">
    font-size: @TextSizeStyle;
    text-align: right;
    margin-right: @LabelMarginRightStyle !important;
    color: @LabelColorName;    
    white-space: nowrap;
    width: @LabelWidthStyle;
</Styled>
<Styled @bind-Classname="ComboBoxStyle">    
    height: @HeightStyle;
    width: @WidthStyle    
    font-size: @TextSizeStyle;
    place-content: start;
    overflow: hidden;
    text-align: center;   
</Styled>
<Styled @bind-Classname="ListItemStyle">    
    font-family: Verdana;
    font-size: @TextSizeStyle;
    text-align: left;
    background-color: @ListBackgroundColorName;
    width: @WidthStyle;
    position: relative;
    color: @ListItemTextColorName;
    left: @LabelMarginRightListStyle;
</Styled>
<Styled @bind-Classname="NoPadding">    
    margin: 0;
    padding: 0;
</Styled>
<Styled @bind-Classname="VerticalCenter">
    display: inline-block;
    justify-content: left;
    align-items: center;
    width: 100%;
</Styled>

<div class="@Grid">
    <div class="@LabelStyle">@LabelText</div>   
    <div class="@ComboBoxStyle">
        <div class="@VerticalCenter">
            <ImageButton ButtonNumber="1" ButtonText="@ButtonText" Height="4" Unit="@Unit" Width="@Width"
                 Name="ComboBoxButton" TextSize="@TextSize" Position="relative" Left="@LabelMarginRight"
                 ButtonTextAlign="@TextAlign" TextColor="@ButtonTextColor" ImageUrl="@ButtonUrl" Parent="this"></ImageButton>
        </div>
        @if ((Expanded) && (ListHelper.HasOneOrMoreItems(Items)))
         { 
            <div class="@ListItemStyle">
                <select class="form-control" name="ListBox" size="@VisibleCount" id="ComboBoxListBox" @onchange="SelectionChanged">
                    @foreach (Item item in Items)
                    {      
                        <option class="@NoPadding">@item.Text</option>
                    }
                </select>
            </div>
        }
  </div>
</div>