@using BlazorStyled

<Styled @bind-Classname=ButtoncontainerStyle>
    position: @Position;
    left: @LeftStyle;
    top: @TopStyle;
    z-index: @ZIndex;
    display: inline-block;
    outline: none;
    border: none;
    width: auto;
    margin: 0px;
    padding: 0px;
</Styled>
<Styled @bind-Classname=@ButtonStyle>
    background-image: url('@ImageUrl');
    background-size: 100% 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    width: @WidthStyle;
    height: @HeightStyle;
    white-space: nowrap;    
    color: @TextColorName;
    vertical-align: central;
    margin: 0px;
    padding: 0px;
</Styled>
<Styled @bind-Classname=@ButtonTextStyle>
    position: @Position;
    left: @TextOffsetXStyle;
    top: @TextOffsetYStyle;
    text-align: @TextAlign;
    font-family: @FontName;
    font-size: @FontSizeStyle;
</Styled>

<style>
    .imagebutton
    {
        cursor: default;
    }
    .imagebutton:focus
    {
        outline: none !important;
        border: none !important;
    }
    .imagebutton:hover
    {
        outline: none;
        border: none;
        cursor: pointer !important;
    }
</style>

@if (Visible)
{
    <div class="@ButtoncontainerStyle @ClassName">
        <button class="imagebutton @ButtonStyle" @onclick="ButtonClicked" title="@Title">
            <span class="@ButtonTextStyle">@Text</span>
        </button>    
    </div>
}