@namespace DataJuggler.Blazor.Components
@using BlazorStyled

<Styled @bind-Classname=@ImageStyle>
    background-image: url('@ImageUrl');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    transform: scale(@ImageScale);
    transform-origin: left;
    width: @ImageWidthStyle;
    height: 100%;
</Styled>
<Styled @bind-Classname=@LabelControlStyle>
    width: @WidthStyle;
    position: @Position;
    left: @LeftStyle;
    top: @TopStyle;
    height: @HeightStyle;
    background-color: @BackgroundColor;
    z-index: @ZIndex;
</Styled>
<Styled @bind-Classname=@BottomMarginStyle>
    width: @WidthStyle;
    height: @MarginBottomStyle;
</Styled>

@if (Visible)
{
    <div class="row">
        <div class="@LabelControlStyle">
            @if (ShowCaption)
            {
                <div class="@LabelStyle">
                    <div class="@LabelClassName">@Caption</div>
                </div>
            }
            <div class="@ClassName">
                @Text
            </div>
            @if (ShowImage)
            {  
                <div class="@ImageClassName">
                    <div class="@ImageStyle"></div>
                </div>
            }
        </div>
    </div>
    <div class="@BottomMarginStyle"></div>
}