@namespace DataJuggler.Blazor.Components

<style>
    .imagestyle
    {
        background-image: url('@ImageUrl');
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100% 100%;    
        transform: scale(@ImageScale);
        transform-origin: left;
        width: @ImageWidthStyle;
        height: 100%;
    }
    .labelcontrolstyle
    {
        width: @WidthStyle;
        position: @Position;
        left: @LeftStyle;
        top: @TopStyle;
        height: @HeightStyle;
        background-color: @BackgroundColor;
        z-index: @ZIndex;
    }
    .bottommarginclass
    {
        width: @WidthStyle;
        height: @MarginBottomStyle;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

@if (Visible)
{
    <div class="row">
        <div class="labelcontrolstyle">
            @if (ShowCaption)
            {
                <div class="@LabelStyle">
                    <div class="@LabelClassName">@Caption</div>
                </div>
            }
            <div class="@ClassName">
                @Text
            </div>
            @if (ShowImage)
            {  
                <div class="@ImageClassName">
                    <div class="imagestyle"></div>
                </div>
            }
        </div>
    </div>
    <div class="bottommarginclass"></div>
}