@namespace DataJuggler.Blazor.Components
@using BlazorStyled
@inject IJSRuntime JSRuntime

<Styled @bind-Classname=@ImageStyle>
    background-image: url('@ImageUrl');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    transform: scale(@ImageScale);
    transform-origin: left;
    width: @ImageWidthStyle;
    height: 100%;
</Styled>
<Styled @bind-Classname=@ControlStyle>
    display: @DisplayStyle;
    width: @WidthStyle;
    position: @Position;
    left: @LeftStyle;
    top: @TopStyle;
    height: @HeightStyle;
    text-align: @TextAlign;
    color: @TextColor;
    font-size: @FontSizeStyle;
    font-family: @FontName;
    background-color: @BackgroundColor;
    z-index: @ZIndex;    
</Styled>
<Styled @bind-Classname=@TextStyle>   
    text-align: @TextAlign;
    color: @TextColor;
    font-size: @FontSizeStyle;
    font-family: @FontName;    
</Styled>
<Styled @bind-Classname=@BottomMarginStyle>
    width: @WidthStyle;
    height: @MarginBottomStyle;
</Styled>

<div id="@ClientId" class="@ControlStyle">
    @if (ShowCaption)
    {  
        <div class="@CaptionClassName">@Caption</div>        
    }
    @if (EnableClick)
    {
        <div class="@ClassName @TextStyle cursorpointer" @onclick="() => OnClick()">
            @Text
        </div>
    }
    else if (EnableDoubleClick)
    {
        <div class="@ClassName @TextStyle cursorpointer" @ondblclick="() => OnDoubleClick()">                    
            @Text
        </div>
    }
    else if (EditMode)
    {
        <div>
            <input class="@TextBoxClassName" autocomplete="@AutoCompleteStyle" type="text" @bind="@Text" 
                @bind:event="oninput" onfocus="this.select()" 
                    onClick="this.select();" @onkeydown="Enter" @ref="InnerControl" />                    
        </div>
    }
    else
    {
        <div class="@ClassName @TextStyle">
            @Text
        </div>
    }
    @if (ShowImage)
    {  
        <div class="@ImageClassName">
            <div class="@ImageStyle"></div>
        </div>
    }
</div>
<div class="@BottomMarginStyle"></div>