@using BlazorStyled
@inject IJSRuntime JSRuntime

<Styled @bind-Classname=ButtonContainerStyle>
    position: @Position;
    left: @LeftStyle;
    top: @TopStyle;
    z-index: @ZIndex;
    display: inline-block;
    outline: none;
    border: none;
    width: auto;
    margin: 0px;
    padding: 0px;
    visibility: @Visibility;
</Styled>
<Styled @bind-Classname=@ButtonStyle>    
    display: inline-block;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    width: @WidthStyle;
    height: @HeightStyle;
    white-space: nowrap;
    color: @TextColorName;
    vertical-align: central;
    margin: 0px;
    padding: 0px;
</Styled>
<Styled @bind-Classname=@ButtonTextStyle>
    text-align: @TextAlign;
    font-family: @FontName;
    font-size: @FontSizeStyle;
</Styled>

<style>
    .linkbutton {
        background: none !important;
        border: none;
        padding: 0 !important;        
        color: @TextColor;
        text-decoration: none;
        cursor: pointer;
        height: @HeightStyle;        
        font-size: @FontSizeStyle;        
        outline: none;        
    }

        .linkbutton:visited {
            color: @TextColor;
            text-decoration: none;
            outline: none;
        }

        .linkbutton:focus {
            outline: none;
        }
</style>

<div class="@ButtonContainerStyle">
    <button class="linkbutton @ButtonStyle" @onclick="ButtonClicked" title="@Title">
        <span class="@ButtonTextStyle">@Text</span>
    </button>
</div>