@using BlazorStyled

<Styled @bind-Classname="@ProgressBackground">
    background-image: url('@BackgroundImageUrl');
    width: @BackgroundWidthPixels;
    height: @BackgroundHeightPixels;
    transform: scale(@BackgroundScale);
    transform-origin: left;   
    border: 2px solid black;
    display: @Display;
    z-index: 1;
    
</Styled>
<Styled @bind-Classname="@BubbleStyle">
    background-image: url('@BubbleImageUrl');
    width: 48px;
    height: 48px;    
    background-repeat: no-repeat;
    transform: scale(@BubbleScale);
    transform-origin: left;   
    z-index: 10;
    position:@BubblePosition;
    left: @BubbleLeftPixels;
    top: @BubbleTopPixels;
</Styled>

@if  (Visible)
{
    @if (ShowBackground)
    {
        <div class="@ProgressBackground">
            <div class="@BubbleStyle"></div>
        </div>
    }
    else
    {
        <div class="@BubbleStyle"></div>
    }
}

