@using BlazorStyled
@using System.Drawing

<Styled @bind-Classname=@ControlStyle>
    position: @Position;
    height: @HeightStyle;
    width: @WidthStyle;    
    top: @TopStyle;
    left: @LeftStyle;
    border-color: @BorderColor.Name;
    border-width: @BorderWidth;
    border-style: solid;
    display: @Display;
    background-color: @BackgroundColor.Name;
    z-index: @ZIndex;
</Styled>

<div class="@ControlStyle displayinline">
    <div class="floatright">
        <ImageButton Name="SaveButton" Unit="px" HeightUnit="px" Height="@ButtonHeight" 
            TextColor=@TextColor ButtonNumber="1" Parent="this" ClassName="@SaveButtonClassName"
            Position="@Position" Left="@SaveButtonleft" Top=@ButtonTop
            Width="@SaveButtonWidth" Text="@SaveButtonText" FontSize="@FontSize" FontName="Calibri"
            ImageUrl="@SaveButtonImageUrl" ClickHandler="@ButtonClicked">
        </ImageButton>
        <ImageButton Name="CancelButton" Unit="px" HeightUnit="px" Height="@ButtonHeight" 
            TextColor=@TextColor ButtonNumber="2" Parent="this"
            Position="@Position" Left="@CancelButtonLeft" Top=@ButtonTop ClassName="@CancelButtonClassName"
            Width="@CancelButtonWidth" Text="@CancelButtonText" FontSize="@FontSize" FontName="Calibri"
            ImageUrl="@CancelButtonImageUrl" ClickHandler="@ButtonClicked">
        </ImageButton>
    </div>
</div>