@using BlazorStyled 

<Styled @bind-Classname="@LabelStyle">
    color: @LabelColor;
    display: @Display;
    width: @LabelWidthStyle;
    height: @HeightStyle;
    min-width: @LabelWidthStyle;
    text-align: right !important;
    justify-content: right;
    position: relative;
    top: @TopStyle;
    vertical-align: middle;
    left: @LeftStyle;
    font-size: @LabelFontSizeStyle;
</Styled>
<Styled @bind-Classname="@TextBoxStyle">
    background-color: @TextBoxBackColor;   
    width: @WidthStyle;
    Height: @HeightStyle;    
    display: @Display;
</Styled>
<Styled @bind-Classname="@CheckBoxStyle">
    background-color: @TextBoxBackColor;
    position: relative;
    left: @CheckBoxXStyle;
    top: @CheckBoxYStyle;
    position: relative;
</Styled>
<Styled @bind-Classname="@ImageStyle">
    background-image: url('@ImageUrl');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    width: 3%;
    height: 2.4vh;
    display: inline-block;
    z-index: 10;    
    position: relative;
    left: -6.4% !important;
    transform: scale(@ImageScale);
    transform-origin: left;
</Styled>
<Styled @bind-Classname="@ValidationControlStyle">
    display: @DisplayStyle;
    line-height: 3.2vh;
    font-size: @FontSizeStyle;
    font-family: Arial, Verdana;    
    margin-top: 2vh;
    margin-left: 2%;
    margin-bottom: 1vh;    
    z-index: @ZIndex;    
    display: @DisplayStyle;
    position: relative;    
    left: @LeftStyle;
    top: @TopStyle;
</Styled>

<div class="@ValidationControlStyle">
    <div class="@ClassName">
        @if (ShowCaption)
        {
            <div class="@LabelStyle">
                <span class="displayinline @LabelClassName">@Caption:</span>
            </div>
            
        }
        @if (CheckBoxMode)
        {
            <input class="@CheckBoxStyle" type=@InputType @bind="@CheckBoxValue" />
        }
        else if (Multiline)
        {
            <textarea class="@TextBoxStyle" type=@InputType @bind="@Text" @bind:event="oninput" @onkeydown="Enter" AutoCompleteType="@AutoCompleteEnabled" />
        }
        else
        {
            <input class="@TextBoxStyle" type=@InputType @bind="@Text" @bind:event="oninput" onfocus="this.select()" onClick="this.select();" @onkeydown="Enter" @ref="InnerControl" autocomplete="@AutoCompleteEnabled" />
        }
        @if (ShowImage)
        {
            <div class="@ImageStyle"></div>
        }
    </div>
</div>
