@using BlazorStyled 

<Styled @bind-Classname="@LabelStyle">
    color: @LabelColor;
    display: inline-block;
    width: @LabelWidthStyle;
    min-width: @LabelWidthStyle;
    text-align: right !important;
    justify-content: right;
    position: relative;
    top: @TopStyle;
    vertical-align: top;
    left: @LeftStyle;
    font-size: @LabelFontSizeStyle;
</Styled>
<Styled @bind-Classname="@TextBoxStyle">
    background-color: @TextBoxBackColor;
    position: relative;
    left: @LeftStyle;
    width: @TextBoxWidthPercent;
    Height: @TextBoxHeightPercent;
    top: @TopStyle;
</Styled>
<Styled @bind-Classname="@CheckBoxStyle">
    background-color: @TextBoxBackColor;
    position: relative;
    left: @CheckBoxXStyle;
    top: @CheckBoxYStyle;
    position: relative;
</Styled>
<Styled @bind-Classname="@ImageStyle">
    background-image: url('@ImageUrl');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    width: 3%;
    height: 2.4vh;
    display: inline-block;
    z-index: 10;    
    position: relative;
    left: -6.4% !important;
    transform: scale(@ImageScale);
    transform-origin: left;
</Styled>
<Styled @bind-Classname="@ValidationControlStyle">
    line-height: 3.2vh;
    font-size: @FontSizeStyle;
    font-family: Arial, Verdana;    
    margin-top: 2vh;
    margin-left: 2%;
    margin-bottom: 1vh;
    width: @WidthPercent;
    height: @HeightPercent;
    z-index: @ZIndex;    
</Styled>

<div class="@ValidationControlStyle @ClassName">
    <span class="@LabelStyle">@Caption:</span>    
    @if (CheckBoxMode)
    {
        <input class="@CheckBoxStyle" type=@InputType @bind="@CheckBoxValue" />
    }
    else if (Multiline)
    {
        <textarea class="@TextBoxStyle" type=@InputType @bind="@Text" @bind:event="oninput" @onkeydown="Enter" />
    }
    else
    {
        <input class="@TextBoxStyle" type=@InputType @bind="@Text" @bind:event="oninput" onClick="this.select();" @onkeydown="Enter" @ref="InnerControl" />
    }
    @if (ShowImage)
    {
        <div class="@ImageStyle"></div>
    }
</div>
