@namespace DataJuggler.Blazor.Components

<style>
    .column1
    {    
        display: inline-block;
        height: 100%;
        background-color: @LabelBackgroundColor;
        color: @LabelColor;
        font-size: @LabelFontSizeStyle;
        text-align: right;
        width: @Column1WidthStyle;
        position: relative;
        top: @LabelTopStyle;
    }
    .column2
    {
        display: inline-block;
        width: @TextBoxWidthStyle;
        height: 100%;    
        margin-left: @MarginLeftStyle;
        width: @Column2WidthStyle;
    }
    .column3
    {
        display: inline-block;
        width: @ImageWidthStyle;
        height: 100%;    
        background-color: @ImageBackColor;
        width: @Column3WidthStyle;
    }
    .textboxstyle
    {
        background-color: @TextBoxBackColor;
        height: @HeightStyle;
        line-height: 2vh;
        font-size: @FontSizeStyle;
        width: @TextBoxWidthStyle;
        overflow: hidden;
    }
    .checkboxstyle
    {
        background-color: @TextBoxBackColor;
        position: @Position;
        left: @CheckBoxXStyle;
        top: @CheckBoxYStyle;
        clear: both;
    }
    .imagestyle
    {
        background-image: url('@ImageUrl');
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100% 100%;    
        transform: scale(@ImageScale);
        transform-origin: left;
        width: @ImageWidthStyle;
        height: 100%;
    }
    .validationcontrolstyle
    {
        width: @WidthStyle;
        position: @Position;
        left: @LeftStyle;
        top: @TopStyle;
        height: @HeightStyle;
        background-color: @BackgroundColor;
        z-index: @ZIndex;
    }
    .bottommarginclass
    {
        width: @WidthStyle;
        height: @MarginBottomStyle;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>


@if (Visible)
{
    <div class="row">
        <div class="validationcontrolstyle">
            @if (ShowCaption)
            {
                <div class="column1">
                    <div class="@LabelClassName">@Caption</div>
                </div>
            }
            <div class="column2">
                @if (CheckBoxMode)
                {
                    <div class="@CheckBoxClassName">
                        @if (Enabled)
                        {
                            <input class="checkboxstyle" @bind="@CheckBoxValue" type=@InputType checked="@CheckBoxValue" />                            
                        }
                        else
                        {
                            <input class="checkboxstyle" type=@InputType checked="@CheckBoxValue" disabled />@Text
                        }
                        <span class="displayinlineblock">
                            @Text
                        </span>
                    </div>
                }
                else if (Multiline)
                {
                    <div class="@TextBoxClassName">
                        @if (Enabled)
                        {
                            <textarea class="textboxstyle" type=@InputType @bind="@Text" @bind:event="oninput" @onkeydown="Enter" onfocus="this.select()" />
                        }
                        else
                        {
                            <textarea class="textboxstyle" disabled type=@InputType @bind="@Text"  />
                        }                        
                    </div>
                }
                else
                {
                    <span class="@TextBoxClassName">
                        @if (Enabled)
                        {
                            <input class="textboxstyle" autocomplete="@AutoCompleteStyle" type=@InputType @bind="@Text" @bind:event="oninput" onfocus="this.select()" onClick="this.select();" @onkeydown="Enter" @ref="InnerControl" />
                        }
                        else
                        {
                            <input class="textboxstyle" autocomplete="off" disabled type=@InputType @bind="@Text" @bind:event="oninput" @ref="InnerControl" />
                        }
                    </span>
                }
            </div>
            @if (ShowImage)
            {
                <div class="column3">
                    <div class="@ImageClassName">
                        <div class="imagestyle"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="bottommarginclass"></div>
}