@using DataJuggler.Blazor.Components
@using BlazorStyled

<Styled @bind-Classname="@BubbleStyle">
    background-image: url('../Images/Bubbles/SpeechBubbleBlue.png');
    background-size: 100% 100%;
    position: relative;
    left: 0%;
    top: 0vh;
    width: 32%;
    height: 10vh;
</Styled>
<Styled @bind-Classname="@TextStyle">
    font-family: Verdana, Arial;    
    line-height: 2.4vh;
    vertical-align: central;
    font-size: 2.0vh;
    color: limegreen;
    position: relative;
    left: 6%;
    top: 2.5vh;
    width: 16%;
    height: auto;
</Styled>

<div class="@BubbleStyle">
    <span class="@TextStyle">@Text</span>
</div>
