@using DataJuggler.Blazor.Components
@using BlazorStyled

<Styled @bind-Classname="@BubbleStyle">
    background-image: url('@ImageUrl');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 0%;
    top: 0vh;
    width: 84%;
    height: auto;
    margin-bottom: 1.2vh;
</Styled>
<Styled @bind-Classname="@TextStyle">
    font-family: Verdana, Arial;    
    line-height: 1.8vh;
    vertical-align: central;
    font-size: 1.8vh;
    color: white;
    position: relative;
    left: 4%;
    top: -1vh;
    max-width: 84%;
    width: 84%;
    height: auto;
    margin-left: 2%;
    margin-top: 2%;
    text-align: left;
</Styled>
<Styled @bind-Classname="@MessageHeader">
    font-family: Verdana, Arial;
    text-align: left;
    line-height: 2vh;
    font-size: 2vh;
    color: limegreen;
    position: relative;
    left: @LeftStyle;
    top: 0vh;
</Styled>

<div class="@BubbleStyle">
    <div class="@MessageHeader">@From</div>
    <div class="@TextStyle">
        <span>@Text</span>
    </div>
</div>
