@page "/"
@using BlazorStyled
@using DataJuggler.Blazor.Components

<Styled @bind-Classname="@TextSize">
    font-family: Verdana;
    font-size: @FontSizePixels;
    margin-top: -64px;
</Styled>
<Styled @bind-Classname="@AnimationStyle">
   background-image: url('../images/RaceTrack.png');
   width: 1280px;
   height: 300px;
   overflow: hidden;
   transform: scale(0.5);
   transform-origin: left;   
   position: relative;
   top: -64px;
</Styled>

<button class="button" @onclick="ShowProgressSimulation">Start</button>
<button class="button moveleft48" @onclick="StopProgressSimulation">Stop</button>
<span class="fontsample moveleft80">Continuous</span>
<input class="moveleft76 movedown2" type="checkbox" @bind-value="@Continuous" />
<span class="fontsample moveleft60">Hide When Finished</span>
<input class="moveleft56 movedown2" type="checkbox" @bind-value="@HideWhenFinished" />
<div class="height200 moveup16">
    <div class="small movedown8">(Run Without Debugging)</div>
    <ProgressBar Subscriber=this Increment="3" Interval="50" Scale=".5"
    Continuous="@Continuous" HideWhenFinished="@HideWhenFinished"></ProgressBar>
</div>
<div class="height120">
    <div class="@TextSize">
        <h4>Font Size Sample</h4>
        BlazorStyled Is Awesome! Adjust CSS With C#<br />
        <button class="buttonwide" @onclick="MakeTextBigger">Make Text Bigger</button>
        <button class="buttonwide moveleft80" @onclick="MakeTextSmaller">Make Text Smaller</button>
    </div>
</div>

<div class="height160">
<h4>Animation Sample</h4>
<button class="buttonwide" @onclick="ShowRace">Show Race</button>

@if  (ShowTrack)
{
    <button class="buttonwide moveleft80" @onclick="StartRace">Start Race</button>
    <button class="buttonwide moveleft160" @onclick="HideRace">Hide Race</button>
    @if (RaceOver)
    {
        <button class="buttonwide moveleft240" @onclick="RaceAgain">Race Again</button>
    }
    <div class="@AnimationStyle">
        <Sprite ImageUrl="../images/RedCar.png" Name="RedCar" Position="fixed" 
        Height="30" Subscriber=this Width="96" ZIndex="10" XPosition="@RedCarPosition" YPosition="@RedCarY"
        Scale="1.4" Interval="50"></Sprite>        
        <Sprite ImageUrl="../images/WhiteCar.png" Name="WhiteCar" Position="fixed"
        Height="30" Subscriber=this Width="96" ZIndex="10" XPosition="@WhiteCarPosition" YPosition="@WhiteCarY"
        Scale="1.4"></Sprite>
        @if  (RedWins)
        {
            <Sprite ImageUrl="../images/CheckeredFlag.png" Name="CheckeredFlag" Position="fixed"
            Height="128" Width="128" Visible="true" ZIndex="20" XPosition=@FlagPosition YPosition="@RedFlagY"
            Scale="1"></Sprite>
        }
        else if (WhiteWins)
        {
            <Sprite ImageUrl="../images/CheckeredFlag.png" Name="CheckeredFlag" Position="fixed"
            Height="128" Width="128" Visible="true" ZIndex="20" XPosition=@FlagPosition YPosition="@WhiteFlagY"
            Scale="1"></Sprite>
        }
    </div>
}
</div>





