@using DataJuggler.Excelerate
@using System.Drawing
@using BlazorStyled

<table class="tablelayoutfixed">
    @if (GridColumns != null)
    {
        @GridColumns(this.ParentGrid)
    }
    @if (HasColumns)
    {
        <colgroup>
            @foreach (Column column in Columns)
            {
                <col class="@column.ClassName" />
            }
        </colgroup>
    }
    <thead>
        <tr class="@ColumnHeaderStyle @ColumnHeaderClassName">
            @foreach (Column column in Columns)
            {
                <Styled @bind-Classname=@BorderStyle>
                    border-width: @column.BorderWidthStyle;
                    border-color: @BorderColor.Name;
                </Styled>

                <th class="@column.ClassName @BorderStyle">
                    @if (ShowFilterRow)
                    {
                        <span class="@ColumnHeaderTextClassName">
                            @column.Caption
                        </span><br />                        
                        <TextBoxComponent Name="@column.ColumnName" Caption="" Parent="this"
                            Height="24" Column1Width="0" Column2Width="@column.Width"
                            Display="inline" ClassName="displayinline" Width="@column.Width"
                            TextBoxWidth="@column.Width" TextBoxBackColor="@Color.LightSteelBlue">
                        </TextBoxComponent>
                    }
                    else
                    {
                        <span class="@ColumnHeaderTextClassName">
                            @column.Caption
                        </span>
                    }
                </th>
            }            
        </tr>
    </thead>    
</table>        