@using DataJuggler.Excelerate

<table class="tablelayoutfixed bordercollapse">
    @if (GridColumns != null)
    {
        @GridColumns(this.ParentGrid)
    }
    @if (HasColumns)
    {
        <colgroup>
            @foreach (Column column in Columns)
            {
                <col class="@column.ClassName" />
            }
        </colgroup>
    }
    <thead>
        <tr class="@ColumnHeaderStyle @ColumnHeaderClassName @StickyStyle">
            @foreach (Column column in Columns)
            {
                <th class="@column.ClassName">@column.Caption</th>
            }
        </tr>
    </thead>
</table>        